.dashboard {
    width: 100%;
    height: 100vh;
    justify-content: center;
    margin: auto;

    .dashboardContainer {
        height: 90vh;
        width: 95%;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 5px 10px rgb(194, 194, 194);
    }
}

@media screen and (max-width: 500px) {
    .heading {
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }
}

@media screen and (max-width: 918px) {
    .heading {
        flex-direction: row;
        align-items: center;
        gap: 1rem;
    }
}

@media screen and (max-width: 990px) {
    .heading {
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }
}